<!DOCTYPE html>
<html>
<head>
  <title>Shoplife</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV['GOOGLE_MAPS']}" %>">
</script>
<script>
  window.googleAPI = {
    key: '<%= ENV['GOOGLE_MAPS'] %>'
  }
</script>
<body>

<%= yield %>

</body>
</html>
